<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Sign In</title>
</head>

<body>
  <div class="card-panel" style="max-width: 800px; margin: 40px auto; padding: 40px;">
    <%- include('../partials/_navbar.ejs') %>
      <h1>Sign in</h1>
      <form action="/auth/sign-in" method="POST">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required />
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required />
        <button type="submit" class="btn red lighten-2">
          <!-- <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="white">
        <path d="M480-120v-80h280v-560H480v-80h280q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H480Zm-80-160-55-58 102-102H120v-80h327L345-622l55-58 200 200-200 200Z"/>
      </svg> -->
          Sign In
        </button>
      </form>
      <footer>
        <p>2025 Rosa Perez | Painted Bird Designs
          <a href="https://github.com/paintedlbird7" target="_blank">GitHub</a> |
          <a href="https://www.rosapérez.com">Portfolio</a>
        </p>
      </footer>
</body>
</html>
