<!-- views/index.ejs localhost/3000 the main login sign up page-->
<!-- Landing page -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <!-- <link rel="icon" type="image/x-icon" href="/favicon.ico"> -->

  <title>Quotes Title</title>
</head>
<body>
  <div class="card-panel" style="max-width: 800px; margin: 40px auto; padding: 40px;">
    <%- include('partials/_navbar.ejs') %>
      <h1>Quotes</h1>
      <p>A quotes site</p>
    </div>
      <footer>
        <p>2025 Rosa Perez | Painted Bird Designs
          <a href="https://github.com/paintedlbird7" target="_blank">GitHub</a> |
          <a href="https://www.rosapérez.com">Portfolio</a>
        </p>
      </footer>
</body>
</html>