<!-- views/index.ejs localhost/3000 the main login sign up page-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quotes Title</title>
  </head>
  <body>
    <%- include('partials/_navbar.ejs') %>
    <h1>Quotes</h1>
    <p>A quotes tracker.</p>
  </body>
</html>
