<!-- views/applications/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Quotes</title>
  </head>
  <body>
    <h1>Your Quotes</h1>
  </body>
</html>
